@CHARSET "UTF-8";
#paymoney_main{
	width: 1090px;
	height:auto;
	height: auto;
	border: 1px solid #F4F4F4;
	margin: 15px auto;
}
#paymoney_text{
	width: 100%;
	height: 30px;
	font-size: 25px;
	background-color: #F4F4F4;
	font-family: 宋体;
}
.paymoney_item{
	width: 100%;
	height: 120px;
	background-color: #FFFDF0;
}
.paymoney_item_line{
	width: 100%;
	height: 3px;
	background-color: #F4F4F4;
}
.paymoney_item_radio{
	float: left;
	margin-left: 30px;
	width: 30px;
	height: 30px;
	margin-top: 50px;
}
.paymoney_item_image{
	float: left;
	margin-left: 50px;
	width: 200px;
	height: 110px;
	margin-top: 5px;
}
.paymoney_item_name{
	float: left;
	margin-left: 20px;
	margin-top: 50px;
	font-size: 20px
}
.paymoney_item_icon{
	float: left;
	margin-left: 200px;
	width: 400px;
	height: 110px;
	margin-top: 5px;
}
.paymoney_bottom{
	height: 40px;
	width: 100px;
	margin: 0px auto;
}
#pay_money_submit{
	width: 100%;
	height: 40px;
}
#bottom_submit{
	width: 100px;
	height: 40px;
	font-size: 20px;
	background-color: red;
	text-align: center;
	color: white;
}